@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a mi sitio</h1>
    <p>Aprende sobre <a href="https://docs.microsoft.com/aspnet/core">integración continua con GitHub y Azure</a>.</p>
</div>
